
.grid-container01 > div {
  background-color: white;
  text-align: left;
  padding: 20px 20px;
  font-size: 30px;
}

.heading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.item__heading {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px -1px rgba(77, 76, 76, 0.589);
}

.item__text {
  font-size: 30px;
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


  p.intro:first-letter {
    
font-size: 150%;}

.intro {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

