
.grid-container01 > div {
  background-color: white;
  text-align: left;
  padding: 20px 20px;
  font-size: 30px;
}


.row {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  border: 1px solid black;
  margin-bottom: 40px;
  margin-top: 40px;

}

.card > img {
  width: 100%;
  height: 150px;
}

.text12 {
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

h5 {
  font-weight: 300;
}

p {
  margin-top: -20px;
  font-size: 22px;
  color: rgb(141, 141, 141);
}


.btn1 {
  color: white;
  background-color: rgb(44, 145, 212);
  width: 100px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


